@font-face {
  font-family: 'iconfont';
  src: 
    url('/assets/icons/iconfont.woff') format('woff'),
    url('/assets/icons/iconfont.ttf') format('truetype');
}

.ico{
  font-family:"iconfont" !important;
}

.container {
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  header {
    height: .44rem;
    background: #00b38a;
    color: #fff;
    font-size: .18rem;
    text-align: center;
    line-height: .44rem;
  }
  main {
    flex: 1;
    overflow: hidden;
  }
  footer {
    height: .44rem;
    background: #f6f6f6;
    ul {
      height: 100%;
      display: flex;
      font-size: .16rem;
      line-height: .44rem;
      text-align: center;
      li {
        &.active {
          background: #e7f3f0;
          color: #00b38a;
        }
        flex: 1;
      }
    }
  }
}